/* 일반 스타일 */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}
@font-face {
    font-family: 'Kaushan Script';
    src: url('https://raman-site.github.io/html/Kaushan_Script/KaushanScript-Regular.woff') format('woff'),
         url('https://raman-site.github.io/html/Kaushan_Script/AnyConv.com__KaushanScript-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Yeon Sung';
    src: url('https://raman-site.github.io/html/Yeon_Sung/YeonSung-Regular.woff') format('woff'),
         url('https://raman-site.github.io/html/Yeon_Sung/AnyConv.com__YeonSung-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
header {
    background-color: #6c96FA;
    color: #fff;
    padding: 10px 20px;
    font-family: "Yeon Sung";
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Yeon Sung";
}
footer p {
    margin: 0 10px; /* 좌우 여백을 조절하려면 이 값을 조정하세요 */
}
nav {
    text-align: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 10px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

section {
    height: 100vh;
    padding: 20px;
    background-image: none;
}

#section1 {
    background-image: url('https://raman-site.github.io/html/라만2.jpeg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vw;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#section1 .profile-picture {
    position: relative;
    z-index: 1;
    left: -20%;
    font-size: 15vw;
}

#section1 .profile-picture span {
    font-weight: bold;
    color: #fff;
}

#section1 .raman span {
    font-family: 'Kaushan Script';
}

#section2 {
    background-image: url('https://raman-site.github.io/html/라만1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #fff;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60vw;
    padding-top: 20px;
}
.intro-section {
    background-color: #f9f9f9; /* 배경색 */
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* 높이 설정 */
}

.intro-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
    background-color: #ffffff; /* 배경색 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 그림자 */
    border-radius: 10px; /* 둥근 모서리 */
    padding: 20px;
}

.profile-photo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-photo img {
    width: 150px; /* 이미지 크기 */
    height: 150px;
    border-radius: 50%; /* 동그란 이미지 */
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 이미지 그림자 */
}

.intro-text {
    flex: 2;
    margin-left: 20px;
}

.intro-text h2 {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive; /* 폰트 설정 */
    margin-bottom: 10px;
}

.intro-text p {
    font-size: 18px;
    color: #333;
    margin-bottom: 8px;
    font-family: 'Poppins', sans-serif;
}

.intro-text p strong {
    font-weight: 600;
}
