/* 일반 스타일 */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif; /* 기본 폰트 */
    background-color: #f0f0f0;
}

@font-face {
    font-family: 'Kaushan Script';
    src: url('https://raman-site.github.io/html/Kaushan_Script/KaushanScript-Regular.woff') format('woff'),
         url('https://raman-site.github.io/html/Kaushan_Script/AnyConv.com__KaushanScript-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yeon Sung';
    src: url('https://raman-site.github.io/html/Yeon_Sung/YeonSung-Regular.woff') format('woff'),
         url('https://raman-site.github.io/html/Yeon_Sung/AnyConv.com__YeonSung-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* header와 footer는 Yeon Sung 폰트를 사용 */
header, footer {
    font-family: 'Yeon Sung', sans-serif;
    background-color: #6c96FA;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

/* nav 스타일 */
nav {
    text-align: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* section 스타일 */
section {
    padding: 20px;
}

#section1 {
    background-image: url('https://raman-site.github.io/html/라만2.jpeg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vw;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#section1 .profile-picture {
    font-family: 'Kaushan Script', cursive; /* 특정 폰트 적용 */
    font-size: 15vw;
    left: -20%;
}

/* section2 - 프로필 정보 */
#section2 {
    background-image: url('https://raman-site.github.io/html/라만1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.profile-details {
    font-family: 'Yeon Sung', sans-serif; /* 폰트 적용 */
    text-align: center;
}

.profile-title {
    font-size: 5vw;
    margin-bottom: 10px;
}

.profile-info {
    font-size: 2vw;
    text-align: left;
    line-height: 1.4;
}

/* footer 스타일 */
footer p {
    margin: 0 10px;
}

/* 특정한 영역에서 폰트 충돌이 없도록 주의 */
.wrapper,
.wrapper .img-area,
.wrapper .social-icons a,
.buttons button {
    background: #ecf0f3;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
}

.wrapper {
    position: relative;
    width: 350px;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
